* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*header*/
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #dfdede;
  margin: 0px;
  background-image: url("https://i.imgur.com/IFCg2GA.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.header {
  width: 100%;
  height: 85px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.700);
}

.logo_header {
  height: 43px;
  width: 150px;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  display: flex;
}

.header .container {
  height: 100%;
  width: 95%;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  margin-top: 14px;
  width: 500px;
  color: rgb(255, 255, 255);
  list-style: none;
  align-items: center;
  display: flex;
  padding: 0;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.entrarheader {
  color: rgb(78 178 101);
  margin-top: 5px;
}

.logo_entar {
  height: 30px;
  width: 30px;
}

.btn_simulador {
  color: white;
  margin-left: 50px;
  background-color: rgb(78 178 101);
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 30px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.link_a:link {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: none;
}

.link_a:visited {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: none;
}

.link_a:hover {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: underline;
}

.link_a:active {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: underline;
}

/*banner*/
.banner {
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .card1 {
  background-color: ghostwhite;
  height: 700px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 195px;
  margin-top: 50px;
  border-radius: 40px 0px 0px 40px;
}

.banner .card2 {
  background-color: rgb(78 178 101);
  height: 700px;
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border-radius: 0px 40px 40px 0px;
}

.texto1 {
  margin-left: 40px;
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  color: rgb(78 178 101);
  ;
}

.button1 {
  background-color: rgb(78 178 101);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  border-radius: 40px;
  height: 40px;
  width: 300px;
  font-size: 20px;
  border-style: hidden;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
  cursor: pointer;
  transition-duration: 0.4s;
}

.button1:hover {
  background: white;
  color: rgb(78 178 101);
  border: 1px solid #eee;
  border-radius: 40px;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

.checks {
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 40px;
}

input {
  height: 20px;
  border: 2px solid rgb(78 178 101);
  border-radius: 6px;
}

select {
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
  border-color: rgb(78 178 101);
  border-radius: 10px;
  border-width: 2px;
  color: rgb(47, 119, 40);
}

.check1 {
  height: 15px;
  width: 20px;
}

.check2 {
  height: 15px;
  width: 20px;
}

.check3 {
  height: 15px;
  width: 20px;
}

.check4 {
  height: 15px;
  width: 20px;
}

.logo_branca {
  height: 100px;
  width: 100px;
}

.texto2 {
  display: flex;
}

.texto2 .div_logo_b {
  margin-top: 298px;
  margin-left: 210px;
}

.texto2 .chart {
  background-color: white;
  position: relative;
  height: 430px;
  width: 450px;
  margin-left: 35px;
  margin-top: 30px;
  border-radius: 10px;
}

.sub_cards {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
}

.sub_cards .sub_card {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: white;
  height: 60px;
  width: 156px;
  border-radius: 10px;
  text-align: center;
  border: 0px;
  cursor: pointer;
}

span {
  color: rgb(78 178 101);
  font-size: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

p {
  font-size: 17px;
  opacity: 0.7;
}

/* MODAL 0 */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(78, 178, 101, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: white;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 15px;
  text-align: center;
}

.button1 {
  background-color: rgb(78 178 101);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  border-radius: 40px;
  height: 40px;
  width: 300px;
  font-size: 20px;
  border-style: hidden;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
  cursor: pointer;
  transition-duration: 0.4s;
}

.button1:hover {
  background: white;
  color: rgb(78 178 101);
  border: 1px solid #eee;
  border-radius: 40px;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/* MODAL 1 */
.modal-container1 {
  position: fixed;
  transition: opacity 0.3s ease;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(78, 178, 101, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.modal-container1.show {
  opacity: 1;
  pointer-events: auto;
}

.modal1 {
  background-color: white;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 15px;
  text-align: center;
}

.button2 {
  background-color: rgb(78 178 101);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  border-radius: 40px;
  height: 40px;
  width: 300px;
  font-size: 20px;
  border-style: hidden;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
  cursor: pointer;
  transition-duration: 0.4s;
}

.button2:hover {
  background: white;
  color: rgb(78 178 101);
  border: 1px solid #eee;
  border-radius: 40px;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/* MODAL 2 */
.modal-container2 {
  position: fixed;
  transition: opacity 0.3s ease;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(78, 178, 101, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.modal-container2.show {
  opacity: 1;
  pointer-events: auto;
}

.modal2 {
  background-color: white;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 15px;
  text-align: center;
}

.button3 {
  background-color: rgb(78 178 101);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  border-radius: 40px;
  height: 40px;
  width: 300px;
  font-size: 20px;
  border-style: hidden;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
  cursor: pointer;
  transition-duration: 0.4s;
}

.button3:hover {
  background: white;
  color: rgb(78 178 101);
  border: 1px solid #eee;
  border-radius: 40px;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/* MODAL 3 */
.modal-container3 {
  position: fixed;
  transition: opacity 0.3s ease;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(78, 178, 101, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.modal-container3.show {
  opacity: 1;
  pointer-events: auto;
}

.modal3 {
  background-color: white;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 15px;
  text-align: center;
}

.button4 {
  background-color: rgb(78 178 101);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  border-radius: 40px;
  height: 40px;
  width: 300px;
  font-size: 20px;
  border-style: hidden;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
  cursor: pointer;
  transition-duration: 0.4s;
}

.button4:hover {
  background: white;
  color: rgb(78 178 101);
  border: 1px solid #eee;
  border-radius: 40px;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/* MODAL 4 */
.modal-container4 {
  position: fixed;
  transition: opacity 0.3s ease;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(78, 178, 101, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.modal-container4.show {
  opacity: 1;
  pointer-events: auto;
}

.modal4 {
  background-color: white;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 15px;
  text-align: center;
}

.button5 {
  background-color: rgb(78 178 101);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  border-radius: 40px;
  height: 40px;
  width: 300px;
  font-size: 20px;
  border-style: hidden;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
  cursor: pointer;
  transition-duration: 0.4s;
}

.button5:hover {
  background: white;
  color: rgb(78 178 101);
  border: 1px solid #eee;
  border-radius: 40px;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/* MODAL 5 */
.modal-container5 {
  position: fixed;
  top: 0;
  transition: opacity 0.3s ease;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(78, 178, 101, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.modal-container5.show {
  opacity: 1;
  pointer-events: auto;
}

.modal5 {
  background-color: white;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 15px;
  text-align: center;
}

.button6 {
  background-color: rgb(78 178 101);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  border-radius: 40px;
  height: 40px;
  width: 300px;
  font-size: 20px;
  border-style: hidden;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
  cursor: pointer;
  transition-duration: 0.4s;
}

.button6:hover {
  background: white;
  color: rgb(78 178 101);
  border: 1px solid #eee;
  border-radius: 40px;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/* MODAL 6 */
.modal-container6 {
  position: fixed;
  transition: opacity 0.3s ease;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(78, 178, 101, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.modal-container6.show {
  opacity: 1;
  pointer-events: auto;
}

.modal6 {
  background-color: white;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 15px;
  text-align: center;
}

.button7 {
  background-color: rgb(78 178 101);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  border-radius: 40px;
  height: 40px;
  width: 300px;
  font-size: 20px;
  border-style: hidden;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
  cursor: pointer;
  transition-duration: 0.4s;
}

.button7:hover {
  background: white;
  color: rgb(78 178 101);
  border: 1px solid #eee;
  border-radius: 40px;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/* MODAL 7 */
.modal-container7 {
  position: fixed;
  transition: opacity 0.3s ease;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(78, 178, 101, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.modal-container7.show {
  opacity: 1;
  pointer-events: auto;
}

.modal7 {
  background-color: white;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 15px;
  text-align: center;
}

.button8 {
  background-color: rgb(78 178 101);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  border-radius: 40px;
  height: 40px;
  width: 300px;
  font-size: 20px;
  border-style: hidden;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
  cursor: pointer;
  transition-duration: 0.4s;
}

.button8:hover {
  background: white;
  color: rgb(78 178 101);
  border: 1px solid #eee;
  border-radius: 40px;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/* MODAL 8 */
.modal-container8 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transition: opacity 0.3s ease;
  width: 100vw;
  background-color: rgba(78, 178, 101, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.modal-container8.show {
  opacity: 1;
  pointer-events: auto;
}

.modal8 {
  background-color: white;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 15px;
  text-align: center;
}

.button9 {
  background-color: rgb(78 178 101);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  border-radius: 40px;
  height: 40px;
  width: 300px;
  font-size: 20px;
  border-style: hidden;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
  cursor: pointer;
  transition-duration: 0.4s;
}

.button9:hover {
  background: white;
  color: rgb(78 178 101);
  border: 1px solid #eee;
  border-radius: 40px;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
}