.corpo {
  font-family: monospace;
  margin: 0px;
  background-image: url("https://i.imgur.com/7emwXzT.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 85px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.700);
}

.logo_header {
  height: 43px;
  width: 150px;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  display: flex;
}

.header .container {
  height: 100%;
  width: 95%;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  margin-top: 14px;
  width: 500px;
  color: rgb(255, 255, 255);
  list-style: none;
  align-items: center;
  display: flex;
  padding: 0;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.entrarheader {
  color: rgb(78 178 101);
  margin-top: 5px;
}

.logo_entar {
  height: 30px;
  width: 30px;
}

.btn_simulador {
  color: white;
  margin-left: 50px;
  background-color: rgb(78 178 101);
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 30px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.link_a:link {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: none;
}

.link_a:visited {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: none;
}

.link_a:hover {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: underline;
}

.link_a:active {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: underline;
}

.textoinicio {
  align-items: center;
  display: flex;
  margin: auto;
  margin-top: 50px;
  line-break: auto;
  width: 70%;
  height: 80%;

}

.p1 {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 65px;
  font-weight: bold;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textoinicio2 {
  align-items: center;
  display: flex;
  margin: auto;
  margin-top: 50px;
  line-break: auto;
  width: 100%;
  height: 80%;
  margin-right: 100px;
}

.p2 {
  margin: auto;
  font-size: 25px;
  color: white;
  line-break: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.containerbranco {
  margin: auto;
  background-color: white;
  border: rgb(78 178 101) solid 2px;
  height: 320px;
  width: 80%;
  margin-top: 30px;
  justify-content: left;
  align-items: center;
  display: flex;
  margin-bottom: 30px;



}

.p3 {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  margin-left: 90px;
  float: left;
  font-weight: 900;

}

.p4 {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  font-weight: 100;
  display: flex;
  margin: auto;
  padding-right: 150px;
}

.divimagem {
  display: flex;
  float: right;

}

.imagem {

  width: 300px
}
.imagem2{
  width: 1348.5px;
  height: 100%;
  margin: 0;

}
.bannerfim {
  position: relative;
  color: white;
  text-align: center;
  margin: 0;
  width: 400px;
  height: 960px;
}

.p5 {
  position: absolute;
  top: 450px;
  left: 400px;
  font-size: 80px;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p6 {
  position: absolute;
  top: 650px;
  left: 300px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.p7 {
  position: absolute;
  top: 650px;
  left: 800px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.p8 {
  position: absolute;
  top: 650px;
  left: 1000px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.p9 {
  position: absolute;
  top: 850px;
  left: 300px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.p10 {
  position: absolute;
  top: 850px;
  left: 800px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.p11 {
  position: absolute;
  top: 850px;
  left: 1000px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/* Footer */
footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4EB265;
  height: auto;
  width: 100vw;
  padding-top: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
  color: white;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content > h1{
  font-size: 28px;
  font-weight: 400px;
  text-transform: capitalize;
  line-height: 2rem;

}

.footer-content > p{
  
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.sociais{
  list-style: none;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0 20px 0;
}

.sociais > li{
  margin: 0px 10px;
}

.sociais > a{
  text-decoration: none;
  color:white
}

.sociais a i {
  font-size: 18px;
  transition: color .4s ease;
}

.sociais a:hover i{
  color:#7FCC8E;
}

.footer-bottom{
  background: #2d8a43;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
