/*header*/
* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*headers*/
body {
  background-image: url("fundo1.jpg");
  margin: 0px;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  width: 100%;
  height: 85px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.700);
}

.logo_header {
  height: 43px;
  width: 150px;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  display: flex;
}

.header .container {
  height: 100%;
  width: 95%;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  margin-top: 14px;
  width: 500px;
  color: rgb(255, 255, 255);
  list-style: none;
  align-items: center;
  display: flex;
  padding: 0;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.entrarheader {
  color: rgb(78 178 101);
  margin-top: 5px;
}

.logo_entar {
  height: 30px;
  width: 30px;
}

.btn_simulador {
  color: white;
  margin-left: 50px;
  background-color: rgb(78 178 101);
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 30px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.link_a:link {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: none;
}

.link_a:visited {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: none;
}

.link_a:hover {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: underline;
}

.link_a:active {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: underline;
}

/*Fim do Header*/

.icone {
  height: 150px;
  width: 150px;
}

.quadrados {
  margin-top: 22%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
}

.quadrados .card1 {
  padding: 30px 30px 60px 100px;
  background-color: #297E74;
  color: white;
  width: 33%;
  font-size: x-large;
  flex-direction: left;
}

.quadrados .card2 {
  padding: 30px 30px 60px 100px;
  background-color: #52B070;
  color: white;
  width: 33%;
  font-size: x-large;
  flex-direction: left;
}

.quadrados .card3 {
  padding: 30px 30px 60px 100px;
  background-color: #2DA65D;
  color: white;
  width: 33%;
  font-size: x-large;
  flex-direction: left;
}

.titulo {
  margin-top: 30px;
  margin-left: 100px;
}

.span {
  margin-left: 100px;
  font-size: x-large;
}

.parceria {
  display: flex;
}

.cardp1 {
  margin-left: 80px;
}

.cardp2 {
  height: 50px;
  width: 560px;
  font-size: x-large;
}

.arduino {
  display: flex;
  margin-left: 32%;
}

.cardp3 {
  height: 50px;
  width: 560px;
  font-size: x-large;
}

.cardp4 {
  margin-left: 8%;
}

.final {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.parceiros {
  display: flex;
  align-items: center;
  justify-content: center;
}