.t602__indicator {
    width: 0%;
    height: 4px;
    background: #199c68;
    position: fixed;
    top: 0;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    z-index: 99999;s