.corpo {
  transition: background-color .8s;
}

.corpo:hover {
  background-color: #4eb265;
}

.corpo::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.corpo::-webkit-scrollbar-track {
  display: none;
}

.corpo::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: inherit;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #4eb265;
}
* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*headers*/
body {
  overflow: overlay;
  margin: 0px;
}

.header {
  width: 100%;
  height: 85px;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.logo_header {
  height: 43px;
  width: 150px;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  display: flex;
}

.header .container {
  height: 100%;
  width: 95%;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  margin-top: 14px;
  width: 500px;
  color: rgb(255, 255, 255);
  list-style: none;
  align-items: center;
  display: flex;
  padding: 0;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.entrarheader {
  color: rgb(78 178 101);
  margin-top: 5px;
}

.logo_entar {
  height: 30px;
  width: 30px;
}

.btn_simulador {
  color: white;
  margin-left: 50px;
  background-color: rgb(78 178 101);
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 30px;
}
a{
  transition: 0.5s;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  font-size: 20px;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.link_a:link {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: none;
}

.link_a:visited {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: none;
}

.link_a:hover {
  color: rgb(78 178 101);
  background-color: transparent;

}

.link_a:active {
  color: rgb(78 178 101);
  background-color: transparent;
}

.formulario {
  background-color: white;
  width: 400px;
  margin-left: 70%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formulario>h1 {
  color: black;
  margin-bottom: 32px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form input,
.form textarea {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: block;
  width: 100%;
}

.form input {
  padding: 12px;
  margin-bottom: 16px;
  border: none;
  border-bottom: 2px solid black;
  color: black;
}

.form textarea {
  padding: 12px;
  margin-bottom: 16px;
  border: 2px solid black;
  border-radius: 3px;
  color: black;
  min-height: 150px;
  resize: vertical;
}

.btn-enviar {
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  border: 2px solid black;
  border-radius: 40px;
  height: 40px;
  width: 300px;
  font-size: 20px;
}

.btn-enviar:hover {
  background: white;
  color: black;
  border: 0px solid black;
  border-radius: 40px;
  box-shadow: 2px 2px 2px black;
  transition-duration: 0.4s;
}


.main {
  background-color: #7FCC8E;
  background-image: url("https://i.imgur.com/tjubsLG.png");
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
/* MODAL 0 */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(78, 178, 101, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: white;
  width: 600px;
  height: 150px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 100px;
}
.modal h2{
  margin: 0;
}

.button1 {
  position: absolute;
  margin-bottom: 250px;
  margin-left: 595px;
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #7FCC8E;
  border-radius: 40px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  border-style: hidden;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
  cursor: pointer;
  transition-duration: 0.4s;
}

.button1:hover {
  background: #7FCC8E;
  color: white;
  border: 1px solid #7FCC8E;
  border-radius: 40px;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4EB265;
  height: auto;
  width: 100vw;
  padding-top: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content > h1{
  font-size: 28px;
  font-weight: 400x   ;
  text-transform: capitalize;
  line-height: 2rem;

}

.footer-content > p{
  
  margin: 5px auto;
  line-height: 28px;
  font-size: 14px;
}

.sociais{
  list-style: none;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.sociais > li{
  margin: 0px 10px;
}

.sociais > a{
  text-decoration: none;
  color:white
}

.sociais a i {
  font-size: 18px;
  transition: color .4s ease;
}

.sociais a:hover i{
  color:#7FCC8E;
}

.footer-bottom{
  background: #2d8a43;
  width: 100vw;
  padding: 5px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}