.corpo {
  transition: background-color .8s;
}

.corpo:hover {
  background-color: #4eb265;
}

.corpo::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.corpo::-webkit-scrollbar-track {
  display: none;
}

.corpo::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: inherit;
}
* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*header*/
body {
  overflow: overlay;
  background-image: url("https://i.imgur.com/9NkHeTa.png");
  font-family: monospace;
  margin: 0px;
  height: 100px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;

}

.header {
  width: 100%;
  height: 85px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.700);
}

.logo_header {
  height: 43px;
  width: 150px;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  display: flex;
}

.header .container {
  height: 100%;
  width: 95%;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  margin-top: 14px;
  width: 500px;
  color: rgb(255, 255, 255);
  list-style: none;
  align-items: center;
  display: flex;
  padding: 0;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.entrarheader {
  color: rgb(78 178 101);
  margin-top: 5px;
}

.logo_entar {
  height: 30px;
  width: 30px;
}

.btn_simulador {
  color: white;
  margin-left: 50px;
  background-color: rgb(78 178 101);
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 30px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.link_a:link {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: none;
}

.link_a:visited {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: none;
}

.link_a:hover {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: underline;
}

.link_a:active {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: underline;
}

/* fim do header */
/* Footer */
footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4EB265;
  height: auto;
  width: 100vw;
  padding-top: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content>h1 {
  font-size: 28px;
  font-weight: 400x;
  text-transform: capitalize;
  line-height: 2rem;

}

.footer-content>p {

  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.sociais {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0 20px 0;
}

.sociais>li {
  margin: 0px 10px;
}

.sociais>a {
  text-decoration: none;
  color: white
}

.sociais a i {
  font-size: 18px;
  transition: color .4s ease;
}

.sociais a:hover i {
  color: #7FCC8E;
}

.footer-bottom {
  background: #2d8a43;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

/* Fim do footer */


.icone {
  margin-top: 30px;
  margin-left: 100px;
  height: 215px;
  width: 315px;
}
.titulo0{
  color: white;
  margin-left: 157px;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.quadrados {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  height: 500px;
}

.quadrados .card1 {
  background-color: #297E74;
  color: white;
  width: 34%;
  text-align: left;
}

.texto1 {
  padding: 30px 30px;
  margin-right: 30px;
}

.card1 h1 {

  margin-left: 30px;
  font-size: 45px;
}

.card1 h2 {
  font-size: 30px;
}

.card1 p {
  font-size: 25px;
}

.quadrados .card2 {
  background-color: #52B070;
  color: white;
  width: 34%;
  font-size: x-large;
  flex-direction: left;
}

.texto2 {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 167px;
}

.texto3 {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 167px;
}

.quadrados .card3 {
  background-color: #2DA65D;
  color: white;
  width: 34%;
  font-size: x-large;
  flex-direction: left;
}

.titulo {
  margin-top: 30px;
  margin-left: 100px;
}

.subtitulo2 {
  font-size: 30px;
  margin: 0;
}

.subtitulo3 {
  font-size: 30px;
}

.span {
  margin-left: 100px;
  font-size: x-large;
}

.img_mao {
  height: 400px;
  width: 400px;
  margin-left: 100px;
}
.parceria{
  display: flex;
  flex-direction: column;
}
.par{
  flex-direction: row;
}
.par2{
  display: flex;
  flex-direction: row;
}

.cardp1 {
  margin-left: 100px;
}

.cardp2 {
  font-size: 25px;
  width: 800px;
  margin-left: 100px;
}

.arduino {
  margin-left: 100px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.cardp3 {
  height: 50px;
  width: 700px;
  font-size: x-large;
}

.cardp4 {
  height: 300px;
  width: 400px;
  margin-left: 50px;
}

.final {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.parceiros {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}