.corpo {
  transition: background-color .8s;
}

.corpo:hover {
  background-color: #4eb265;
}

.corpo::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.corpo::-webkit-scrollbar-track {
  display: none;
}

.corpo::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: inherit;
}
* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*header*/
body {
  overflow: overlay;
  overflow-x: hidden;
  background-image: url("https://i.imgur.com/mXpmDdC.png");
  font-family: monospace;
  margin: 0px;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

}
.header {
  width: 100%;
  height: 85px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.700);
}

.logo_header {
  height: 43px;
  width: 150px;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  display: flex;
}

.header .container {
  height: 100%;
  width: 95%;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  margin-top: 14px;
  width: 500px;
  color: rgb(255, 255, 255);
  list-style: none;
  align-items: center;
  display: flex;
  padding: 0;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.entrarheader {
  color: rgb(78 178 101);
  margin-top: 5px;
}

.logo_entar {
  height: 30px;
  width: 30px;
}

.btn_simulador {
  color: white;
  margin-left: 50px;
  background-color: rgb(78 178 101);
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 30px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.link_a:link {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: none;
}

.link_a:visited {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: none;
}

.link_a:hover {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: underline;
}

.link_a:active {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: underline;
}

/* fim do header */
/* Banner */
.banner1 {
  background-image: url("https://i.imgur.com/mXpmDdC.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 90vh;
}

.banner1 p {
  color: white;
  font-size: 30px;
}

.banner2 {
  display: flex;
  flex-direction: row;
  background-color: #e7e7e7;
}

.card1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 8%;
  margin-top: 5%;
}

.texto1 {
  color: rgb(78 178 101);
  font-size: 40px;
}

.texto1 span {
  font-size: 30px;

}

.p1 {
  font-size: 25px;
}

.card2 {
  display: flex;
  justify-content: center;
  width: 40%;
  margin-top: 3%;
  margin-left: 2%;
}

.card2 img {
  width: 90%;
  height: 100%;
}

.banner3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #e7e7e7;
}

.card3 {
  margin-left: 8%;
  margin-top: 5%;
  margin-right: 5%;
}

.cer {
  font-size: 40px;
}

.p2 {
  font-size: 30px;
}

.banner4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e7e7e7;
  position: relative;;
  flex-direction: row;
  height: 691px;
  padding: 0 0 750px;
}


.b1 {
  width: 40%;
  padding: 0 0 30px 0;
  margin-left: 10%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}

.texto2 {
  margin-left: 10%;
  position: absolute;
  z-index: 1;
  width: 45%;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 11%;
  margin-top: 100px;
}

.p3 {
  font-size: 24px;
  padding: 0px 10px 0px 10px;
}

.imagem {
  width: 55%;
}

.bandeira {
  position: absolute;
  z-index: 0;
  width: 700px;
  height: 500px;
  margin-left: 750px;
  margin-bottom: 200px;
}

.logos {
  margin-top: 550px;
  margin-left: 780px;
  position: absolute;
  z-index: 0;
}

.banner5 .b2 {
  margin-left: 700px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}

.texto3 {
  margin-left: 400px;
  margin-top: 152px;
  position: absolute;
  width: 50%;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 11%;
}

.banner5 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 580px;
  background-color: #e7e7e7;
  position: relative;
}

.p4 {
  font-size: 24px;
  padding: 0px 10px 0px 10px;
}
.selo {
  margin-top: 100px;
  margin-left: 1180px;
  position: absolute;
  height: 250px;
  width: 250px;
}
.placa{
  margin-top: 100px;
  margin-left: 80px;
  position: absolute;
  width: 600px;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4EB265;
  height: auto;
  width: 100vw;
  padding-top: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content>h1 {
  font-size: 28px;
  font-weight: 400x;
  text-transform: capitalize;
  line-height: 2rem;

}

.footer-content>p {

  margin: 5px auto;
  line-height: 28px;
  font-size: 14px;
}

.sociais {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.sociais>li {
  margin: 0px 10px;
}

.sociais>a {
  text-decoration: none;
  color: white
}

.sociais a i {
  font-size: 18px;
  transition: color .4s ease;
}

.sociais a:hover i {
  color: #7FCC8E;
}

.footer-bottom {
  background: #2d8a43;
  width: 100vw;
  padding: 5px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}