* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.corpo {
  transition: background-color .8s;
}

.corpo:hover {
  background-color: #082949;
}

.corpo::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.corpo::-webkit-scrollbar-track {
  display: none;
}

.corpo::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: inherit;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(8, 41, 73);
}

/* header */

.corpo {
  overflow: overlay;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px;
  overflow-x: hidden;
  background-image: url("");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  width: 100%;
  height: 85px;
  align-items: center;
  background-color: rgba(0, 0, 0);
}

.logo_header {
  height: 43px;
  width: 150px;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  display: flex;
}

.header .container {
  height: 100%;
  width: 95%;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  margin-top: 14px;
  width: 500px;
  color: rgb(255, 255, 255);
  list-style: none;
  align-items: center;
  display: flex;
  padding: 0;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.entrarheader {
  color: #4eb265;
  margin-top: 5px;
}

.logo_entar {
  height: 30px;
  width: 30px;
}

.btn_simulador {
  color: white;
  margin-left: 50px;
  background-color: rgb(78 178 101);
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 30px;
}
a{
  transition: 0.5s;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  font-size: 20px;
}

a:active {
  color: white;
  background-color: transparent;
}

.link_a:link {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: none;
}

.link_a:visited {
  color: rgb(78 178 101);
  background-color: transparent;
  text-decoration: none;
}

.link_a:hover {
  color: rgb(78 178 101);
  background-color: transparent;
}

.link_a:active {
  color: rgb(78 178 101);
  background-color: transparent;
}

/* fim do header */
/* Banner */
.banner {
  display: flex;
  height: 100vh;
}

.esquerda {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 820px;
  background-color: rgb(8, 41, 73);
}

.direita {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
  height: 820px;
  background-color: #3684c4;
}

.card1 {
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 25px;
  width: 90%;
  height: 450px;
  background-color: aliceblue;
}

.card2 {
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 25px;
  height: 160px;
  width: 90%;
  background-color: aliceblue;
}

.card3 {
  border-radius: 10px;
  margin-top: 36px;
  margin-right: 30px;
  width: 450px;
  height: 200px;
  background-color: aliceblue;
}

.card4 {
  border-radius: 10px;
  margin-top: 36px;
  margin-right: 30px;
  width: 450px;
  height: 200px;
  background-color: aliceblue;
}

.card5 {
  border-radius: 10px;
  margin-right: 30px;
  width: 450px;
  height: 200px;
  background-color: aliceblue;
}

.card6 {
  border-radius: 10px;
  margin-right: 30px;
  width: 450px;
  height: 200px;
  background-color: aliceblue;
}

.card7 {
  margin-right: 30px;
  border-radius: 10px;
  width: 450px;
  height: 200px;
  background-color: aliceblue;
}

.card8 {
  position: relative;
  margin-right: 30px;
  width: 450px;
  border-radius: 10px;
  height: 200px;
  background-color: aliceblue;
}

.sensor6Line {
  z-index: 0;
  position: absolute;
}

.sensor5Line {
  z-index: 0;
  position: absolute;
}

.manutencao {
  border-radius: 10px;
  padding: 0 125px;
  background-color: rgb(8, 41, 73, 0.7);
  z-index: 1;
  position: absolute;
  height: 200px;
  width: 200px;
}

.indisponivel {
  border-radius: 10px;
  padding: 0 125px;
  background-color: rgb(8, 41, 73, 0.7);
  z-index: 1;
  position: absolute;
  height: 200px;
  width: 200px;
}

.Titulo {
  margin-top: 10px;
  margin-left: 150px;
  color: white;
  font-size: 20px;
  padding: 0 0 0 0;
}

.Titulo2 {
  margin-top: 10px;
  margin-left: 90px;
  color: white;
  font-size: 20px;
  padding: 0 0 0 0;
}

.a_sensor {
  margin: 0;
}
.desk{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.desk h3{
  color: white;
}
.desk button{
  height: 45px;
  width: 300px;
  border-radius: 25px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 18px;
  transition-duration: 0.4s;
  cursor: pointer;
  align-items: center;
  margin-left: 100px;

}

.desk button:hover {
  transform: scale(1.1);
  background: #082949;
  color: white;
  border-radius: 40px;
  box-shadow: 1px 1px 1px #013560;
  cursor: pointer;
}

.btn {
  position: absolute;

}

.btn .btn_u {
  margin-bottom: 755px;
  height: 40px;
  width: 150px;
  margin-left: -480px;
  border-radius: 20px;
  background-color: #082949;
  color: white;
  border: none;
  font-size: 18px;
  transition-duration: 0.4s;
  cursor: pointer;

}

.btn_u:hover {
  background: #082949;
  color: white;
  border-radius: 40px;
  transform: scale(1.1);
  cursor: pointer;
}

/* MODAL 0 */
.modal-container {
  z-index: 2;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(78, 178, 101, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: white;
  width: 500px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 15px;
  text-align: center;
}

.button1 {
  position: absolute;
  margin-bottom: 340px;
  margin-left: 595px;
  background-color: rgb(78 178 101);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  border-radius: 40px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  border-style: hidden;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
  cursor: pointer;
  transition-duration: 0.4s;
}

.button1:hover {
  background: white;
  color: rgb(78 178 101);
  border: 1px solid #eee;
  border-radius: 40px;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

.input1 {
  width: 280px;
  padding: 12px 20px;
  background: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.input2 {
  margin-top: 40px;
  width: 280px;
  padding: 12px 20px;
  background: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.entrar {
  margin-top: 50px;
  background-color: rgb(78 178 101);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  border-radius: 40px;
  height: 40px;
  width: 200px;
  font-size: 20px;
  border-style: hidden;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
  cursor: pointer;
  transition-duration: 0.4s;
}

.entrar:hover {
  background: white;
  color: rgb(78 178 101);
  border: 1px solid #eee;
  border-radius: 40px;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

.div_erro {
  border-radius: 40px;
  margin-bottom: 450px;
  position: absolute;
  background-color: white;
  height: 50px;
  width: 600px;
}

.msg_erro {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4EB265;
  height: auto;
  width: 100vw;
  padding-top: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  margin-top: 95px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content>h1 {
  font-size: 28px;
  font-weight: 400px;
  text-transform: capitalize;
  line-height: 2rem;
}

.footer-content>p {
  margin: 5px auto;
  line-height: 28px;
  font-size: 14px;
}

.sociais {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.sociais>li {
  margin: 0px 10px;
}

.sociais>a {
  text-decoration: none;
  color: white
}

.sociais a i {
  font-size: 18px;
  transition: color .4s ease;
}

.sociais a:hover i {
  color: #7FCC8E;
}

.footer-bottom {
  background: #2d8a43;
  width: 100vw;
  padding: 5px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}