/*
Legenda pq tem eu e + 4 idiotas no meu grupo (O Marco n conta, ele n é idiota)

C no final da class = tela de contato
DG no final da class = tela de DashboardGeral
L no final da class = tela de login
S no final da class = tela de Serviços
SO no final da class = tela de SimuladorODLA
SN no final da class = tela de SobreNósV2
TD no final da class = tela de TelaDev
TI no final da class = tela de index
DS no final da class = tela de DashboardSensor
*/

/*TELA DE CONTATO*/
/*Header Contato*/
/*Fim Header Contato*/
/*Scrool-Bar Contato*/
/*Fim Scrool-Bar Contato*/
/*FIM TELA DE CONTATO*/

* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Header*/
body {
    overflow: overlay;
    margin: 0px;
}

.header {
    width: 100%;
    height: 85px;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.logo_header {
    position: absolute;
    height: 43px;
    width: 150px;
    margin-top: -25px;
    margin-left: 40px;
    transition: 0.5s;
}

.logo_header:hover {
    transform: scale(1.1);
}

.container {
    width: 100%;
    display: flex;
}

.header .container {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    margin-left: 200px;
    margin-top: 14px;
    width: 500px;
    color: rgb(255, 255, 255);
    list-style: none;
    align-items: center;
    display: flex;
    padding: 0;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.entrarheader {
    color: rgb(78 178 101);
    margin-top: 5px;
}

.logo_entar {
    height: 30px;
    width: 30px;
}

.btn_simulador {
    margin-right: 40px;
    position: relative;
    color: white;
    background-color: rgb(78 178 101);
    height: 40px;
    width: 200px;
    border-radius: 30px;
    border-style: none;
    font-size: 15px;
    transition: 0.5s;
    cursor: pointer;
}

.btn_simulador:hover {
    transform: scale(1.1);
}

.aH {
    transition: 0.5s;
}

.aH:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.aH:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.aH:hover {
    color: white;
    background-color: transparent;
    font-size: 20px;
}

.aH:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.link_a {
    transition: 0.5s;
}

.link_a:link {
    color: rgb(78 178 101);
    background-color: transparent;
    text-decoration: none;
}

.link_a:visited {
    color: rgb(78 178 101);
    background-color: transparent;
    text-decoration: none;
}

.link_a:hover {
    color: rgb(78 178 101);
    background-color: transparent;
    font-size: 20px;
}

.link_a:active {
    color: rgb(78 178 101);
    background-color: transparent;
}

/*Fim Header*/



















/*Footer*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.footer-content {
    color: white;
    background-color: #4eb265;
    text-align: center;
    height: 200px;
    width: 100%;
}

.footer-content span {
    line-height: 28px;
    font-size: 16px;
}

.a_contato {
    margin-left: 20px;
    color: white;
    transition: 0.5s;
    font-size: 28px;
    transition: 0.5s;
}

.a_contato:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.a_contato:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.a_contato:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.a_contato:hover {
    font-size: 30px;
    color: white;
    background-color: transparent;
    font-size: 30px;
}

.sociais {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 40px;
}

.sociais li {
    margin: 0px 10px;

}

.a_f {
    color: white;
    transition: 0.5s;
    font-size: 25px;
    transition: 0.5s;
}

.a_f:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.a_f:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.a_f:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.a_f:hover {
    color: white;
    background-color: transparent;
    font-size: 35px;
}

.footer-bottom {
    color: white;
    text-align: center;
    background-color: #2d8a43;
    width: 100%;
    height: 50px;
}

.footer-bottom p {
    margin-left: 36px;
}

/*Fim Footer*/




















/*TELA DE CONTATO*/
/*Scrool-Bar Contato*/
.corpoC {
    transition: 0.8s;
}

.corpoC:hover {
    background-color: #4eb265;
}

.corpoC::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.corpoC::-webkit-scrollbar-track {
    display: none;
}

.corpoC::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: inherit;
}

.corpoC::-webkit-scrollbar-thumb:hover {
    background-color: #4eb265;
}

/*Fim Scrool-Bar Contato*/
.mainC {
    background-image: url("https://i.imgur.com/tjubsLG.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/*FIM TELA DE CONTATO*/



















/*TELA DASHBOARD GERAL*/
/*Scrool-Bar Dashboard Geral*/
.corpoDG {
    transition: .8s;
}

.corpoDG:hover {
    background-color: #082949;
}

.corpoDG::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.corpoDG::-webkit-scrollbar-track {
    display: none;
}

.corpoDG::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: inherit;
}

.corpoDG::-webkit-scrollbar-thumb:hover {
    background-color: rgb(8, 41, 73);
}

/*Fim Scrool-Bar Dashboard Geral*/
.bannerDG {
    display: flex;
    height: 100%;
}

.esquerdaDG {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 820px;
    background-color: rgb(8, 41, 73);
}

.direitaDG {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 75%;
    height: 820px;
    background-color: #3684c4;
}

.card1DG {
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 25px;
    width: 90%;
    height: 450px;
    background-color: aliceblue;
}

.card2DG {
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 25px;
    height: 160px;
    width: 90%;
    background-color: aliceblue;
}

.card3DG {
    border-radius: 10px;
    margin-top: 36px;
    margin-right: 30px;
    width: 450px;
    height: 200px;
    background-color: aliceblue;
}

.card4DG {
    border-radius: 10px;
    margin-top: 36px;
    margin-right: 30px;
    width: 450px;
    height: 200px;
    background-color: aliceblue;
}

.card5DG {
    border-radius: 10px;
    margin-right: 30px;
    width: 450px;
    height: 200px;
    background-color: aliceblue;
}

.card6DG {
    border-radius: 10px;
    margin-right: 30px;
    width: 450px;
    height: 200px;
    background-color: aliceblue;
}

.card7DG {
    margin-right: 30px;
    border-radius: 10px;
    width: 450px;
    height: 200px;
    background-color: aliceblue;
}

.card8DG {
    position: relative;
    margin-right: 30px;
    width: 450px;
    border-radius: 10px;
    height: 200px;
    background-color: aliceblue;
}

.sensor6LineDG {
    z-index: 0;
    position: absolute;
}

.sensor5LineDG {
    z-index: 0;
    position: absolute;
}

.manutencaoDG {
    border-radius: 10px;
    padding: 0 125px;
    background-color: rgb(8, 41, 73, 0.7);
    z-index: 1;
    position: absolute;
    height: 200px;
    width: 450px;
}

.indisponivelDG {
    border-radius: 10px;
    padding: 0 125px;
    background-color: rgb(8, 41, 73, 0.7);
    z-index: 1;
    position: absolute;
    height: 200px;
    width: 450px;
}

.TituloDG {
    margin-top: 10px;
    margin-left: 150px;
    color: white;
    font-size: 20px;
    padding: 0 0 0 0;
}

.Titulo2DG {
    margin-top: 10px;
    margin-left: 90px;
    color: white;
    font-size: 20px;
    padding: 0 0 0 0;
}

.a_sensorDG {
    margin: 0;
}

.deskDG {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.deskDG h3 {
    color: white;
    margin-left: 20px;
}

.deskDG button {
    height: 45px;
    width: 300px;
    border-radius: 25px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
    align-items: center;
    margin-left: 100px;

}

.deskDG button:hover {
    transform: scale(1.1);
    background: #082949;
    color: white;
    border-radius: 40px;
    box-shadow: 1px 1px 1px #013560;
    cursor: pointer;
}

.btnDG {
    position: absolute;

}

.btnDG .btn_uDG {
    margin-bottom: 755px;
    height: 40px;
    width: 150px;
    margin-left: -480px;
    border-radius: 20px;
    background-color: #082949;
    color: white;
    border: none;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.btn_uDG:hover {
    background: #082949;
    color: white;
    border-radius: 40px;
    transform: scale(1.1);
    cursor: pointer;
}

/* MODAL 0 */
.modal-containerDG {
    z-index: 2;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(78, 178, 101, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-containerDG.show {
    opacity: 1;
    pointer-events: auto;
}

.modalDG {
    background-color: white;
    width: 500px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
}

.button1DG {
    position: absolute;
    margin-bottom: 340px;
    margin-left: 495px;
    background-color: rgb(78 178 101);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 40px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    border-style: hidden;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
    cursor: pointer;
    transition-duration: 0.4s;
}

.button1DG:hover {
    background: white;
    color: rgb(78 178 101);
    border: 1px solid #eee;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

.input1DG {
    width: 280px;
    padding: 12px 20px;
    background: transparent;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.input2DG {
    margin-top: 40px;
    width: 280px;
    padding: 12px 20px;
    background: transparent;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.entrarDG {
    margin-top: 50px;
    background-color: rgb(78 178 101);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 40px;
    height: 40px;
    width: 200px;
    font-size: 20px;
    border-style: hidden;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
    cursor: pointer;
    transition-duration: 0.4s;
}

.entrarDG:hover {
    background: white;
    color: rgb(78 178 101);
    border: 1px solid #eee;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

.div_erroDG {
    border-radius: 40px;
    margin-bottom: 450px;
    position: absolute;
    background-color: white;
    height: 50px;
    width: 600px;
}

.msg_erroDG {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

/*FIM TELA DASHBOARD GERAL*/



















/*TELA LOGIN*/
/*Header Login*/
.headerL {
    width: 100%;
    height: 85px;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
}

.headerL .container {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

/*FIM Header Login*/
/*Scrool-Bar login*/
.corpoL {
    transition: .8s;
}

.corpoL:hover {
    background-color: #4eb265;
}

.corpoL::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.corpoL::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: inherit;
}

.corpoL::-webkit-scrollbar-thumb:hover {
    background-color: #4eb265;
}

/*Fim Scrool-Bar login*/
/*banner*/
.paiL {
    background-color: #4eb265;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 28px;
    height: 550px;
    width: 830px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}

.textoh3L {
    color: white;
    font-size: 40px;
    padding-left: 95px;
    padding-top: 0px;
}

.logoL {
    margin-left: 35px;
    padding-right: 20px;
    width: 300px;
    padding-left: 35px;
}

.inputgodL {
    margin-top: 71.5px;
    margin-left: 65px;
}

.input1L {
    color: white;
    width: 280px;
    padding: 12px 20px;
    background: transparent;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.input2L {
    margin-top: 40px;
    width: 280px;
    padding: 12px 20px;
    background: transparent;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    color: white;
}

.entrarL {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4eb265;
    border-radius: 40px;
    height: 40px;
    width: 280px;
    font-size: 20px;
    border-style: hidden;
    box-shadow: 0px 0px 0px rgb(189, 188, 188);
    cursor: pointer;
    margin-top: 51px;
    margin-right: 60px;
}

.entrarL:hover {
    background: #4eb265;
    color: rgb(255, 255, 255);
    border: 0px solid #eee;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgb(9, 83, 16);
    transition-duration: 0.4s;
}

.input2L::placeholder {
    color: white;
    font-size: 15px;
    font-style: oblique;
    font-weight: bold;
}

.inputL::placeholder {
    color: white;
    font-size: 15px;
    font-style: oblique;
    font-weight: bold;
}

.input1L::placeholder {
    color: white;
    font-size: 15px;
    font-style: oblique;
    font-weight: bold;
}

.inputladodireitoL {
    border-left: 2px groove rgba(10, 10, 10, 0.808);
    padding-right: 30px;
    float: right;
    margin-right: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inputL {
    margin-top: 40px;
    width: 280px;
    padding: 12px 20px;
    background: transparent;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    color: white;
    margin-left: 65px;
}

.cadastrarL {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4eb265;
    border-radius: 40px;
    height: 40px;
    width: 280px;
    font-size: 20px;
    border-style: hidden;
    box-shadow: 0px 0px 0px rgb(189, 188, 188);
    cursor: pointer;
    margin-top: 40px;
    margin-left: 65px;
}

.cadastrarL:hover {
    background: #4eb265;
    color: rgb(255, 255, 255);
    border: 0px solid #eee;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgb(9, 83, 16);
    transition-duration: 0.4s;
}

/* MODAL 0 */
.modal-containerL {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(78, 178, 101, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-containerL.show {
    opacity: 1;
    pointer-events: auto;
}

.modalL {
    background-color: white;
    width: 600px;
    height: 150px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 100px;
}

.modalL h2 {
    margin: 0;
}

.button1L {
    position: absolute;
    margin-bottom: 250px;
    margin-left: 595px;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #7FCC8E;
    border-radius: 40px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    border-style: hidden;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
    cursor: pointer;
    transition-duration: 0.4s;
}

.button1L:hover {
    background: #7FCC8E;
    color: white;
    border: 1px solid #7FCC8E;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/* MODAL 2 */
.modal-container2L {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(78, 178, 101, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-container2L.show {
    opacity: 1;
    pointer-events: auto;
}

.modal2L {
    background-color: white;
    width: 500px;
    height: 90px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 100px;
}

.modal2L h2 {
    margin: 0;
}

.button2L {
    position: absolute;
    margin-bottom: 180px;
    margin-left: 495px;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #7FCC8E;
    border-radius: 40px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    border-style: hidden;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
    cursor: pointer;
    transition-duration: 0.4s;
}

.button2L:hover {
    background: #7FCC8E;
    color: white;
    border: 1px solid #7FCC8E;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/*FIM TELA LOGIN*/



















/*TELA SERVIÇOS*/
/*Scrool-Bar Serviços*/
.corpoS {
    transition: background-color .8s;
}

.corpoS:hover {
    background-color: #4eb265;
}

.corpoS::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.corpoS::-webkit-scrollbar-track {
    display: none;
}

.corpoS::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: inherit;
}

.corpoS::-webkit-scrollbar-thumb:hover {
    background-color: #4eb265;
}

/*Fim Scrool-Bar Serviços*/
/*Header Serviços*/
.headerS {
    width: 100%;
    height: 85px;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
}

.headerS .container {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

/*FIM Header Serviços*/
.iconeS {
    margin-top: 30px;
    margin-left: 100px;
    height: 215px;
    width: 315px;
}

.titulo0S {
    color: white;
    margin-left: 157px;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.quadradosS {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    height: 500px;
}

.quadradosS .card1S {
    background-color: #297E74;
    color: white;
    width: 34%;
    text-align: left;
}

.texto1S {
    padding: 30px 30px;
    margin-right: 30px;
}

.card1S h1 {

    margin-left: 30px;
    font-size: 45px;
}

.card1S h2 {
    font-size: 30px;
}

.card1S p {
    font-size: 25px;
}

.quadradosS .card2S {
    background-color: #52B070;
    color: white;
    width: 34%;
    font-size: x-large;
    flex-direction: left;
}

.texto2S {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 167px;
}

.texto3S {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 167px;
}

.quadradosS .card3S {
    background-color: #2DA65D;
    color: white;
    width: 34%;
    font-size: x-large;
    flex-direction: left;
}

.tituloS {
    margin-top: 30px;
    margin-left: 100px;
}

.subtitulo2S {
    font-size: 30px;
    margin: 0;
}

.subtitulo3S {
    font-size: 30px;
}

.spanS {
    margin-left: 100px;
    font-size: x-large;
}

.img_maoS {
    height: 400px;
    width: 400px;
    margin-left: 100px;
}

.parceriaS {
    display: flex;
    flex-direction: column;
}

.parS {
    flex-direction: row;
}

.par2S {
    display: flex;
    flex-direction: row;
}

.cardp1S {
    margin-left: 100px;
}

.cardp2S {
    font-size: 25px;
    width: 800px;
    margin-left: 100px;
}

.arduinoS {
    margin-left: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.cardp3S {
    height: 50px;
    width: 700px;
    font-size: x-large;
}

.cardp4S {
    height: 300px;
    width: 400px;
    margin-left: 50px;
}

.finalS {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.parceirosS {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 50px;
}

.imgS {
    height: 150px;
    width: 300px;
}

.fundoS {
    background-color: rgb(249, 247, 247);
}

/*FIM TELA SERVIÇOS*/



















/*TELA SIMULADOR*/
/*Scrool-Bar Simulador*/
.corpoSO {
    transition: 0.8s;
}

.corpoSO:hover {
    background-color: #4eb265;
}

.corpoSO::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.corpoSO::-webkit-scrollbar-track {
    display: none;
}

.corpoSO::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: inherit;
}

.corpoSO::-webkit-scrollbar-thumb:hover {
    background-color: #4eb265;
}

/*Fim Scrool-Bar Simulador*/
/*Header Simulador*/
.headerSO {
    width: 100%;
    height: 85px;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
}

.headerSO .container {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

/*Fim Header Simulador*/
/*banner*/
.bannerSO {
    height: 800px;
}

.containerSO {
    display: flex;
}

.bannerSO .card1SO {
    background-color: ghostwhite;
    height: 700px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 195px;
    margin-top: 50px;
    border-radius: 40px 0px 0px 40px;
}

.bannerSO .card2SO {
    background-color: rgb(78 178 101);
    height: 700px;
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 0px 40px 40px 0px;
}

.texto1SO {
    margin-left: 40px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.h2SO {
    color: rgb(78 178 101);
    ;
}

.button1SO {
    background-color: rgb(78 178 101);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 40px;
    height: 40px;
    width: 300px;
    font-size: 20px;
    border-style: hidden;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
    cursor: pointer;
    transition-duration: 0.4s;
}

.button1SO:hover {
    background: white;
    color: rgb(78 178 101);
    border: 1px solid #eee;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

.checksSO {
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 40px;
}

.inputSO {
    height: 20px;
    border: 2px solid rgb(78 178 101);
    border-radius: 6px;
}

.selectSO {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    border-color: rgb(78 178 101);
    border-radius: 10px;
    border-width: 2px;
    color: rgb(47, 119, 40);
}

.check1SO {
    height: 15px;
    width: 20px;
}

.check2SO {
    height: 15px;
    width: 20px;
}

.check3SO {
    height: 15px;
    width: 20px;
}

.check4SO {
    height: 15px;
    width: 20px;
}

.logo_brancaSO {
    height: 100px;
    width: 100px;
}

.texto2SO {
    display: flex;
}

.texto2SO .div_logo_bSO {
    margin-top: 298px;
    margin-left: 210px;
}

.texto2SO .chartSO {
    background-color: white;
    position: relative;
    height: 430px;
    width: 450px;
    margin-left: 35px;
    margin-top: 30px;
    border-radius: 10px;
}

.sub_cardsSO {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
}

.sub_cardsSO .sub_cardSO {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: white;
    height: 60px;
    width: 156px;
    border-radius: 10px;
    text-align: center;
    border: 0px;
    cursor: pointer;
}

.spanSO {
    color: rgb(78 178 101);
    font-size: 20px;
    text-align: center;
}

.h1SO {
    margin: 0;
}

.pSO {
    font-size: 17px;
}

/* MODAL 0 */
.modal-containerSO {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(78, 178, 101, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-containerSO.show {
    opacity: 1;
    pointer-events: auto;
}

.modalSO {
    background-color: white;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
}

.button1SO {
    background-color: rgb(78 178 101);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 40px;
    height: 40px;
    width: 300px;
    font-size: 20px;
    border-style: hidden;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
    cursor: pointer;
    transition-duration: 0.4s;
}

.button1SO:hover {
    background: white;
    color: rgb(78 178 101);
    border: 1px solid #eee;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/* MODAL 1 */
.modal-container1SO {
    position: fixed;
    transition: opacity 0.3s ease;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(78, 178, 101, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.modal-container1SO.show {
    opacity: 1;
    pointer-events: auto;
}

.modal1SO {
    background-color: white;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
}

.button2SO {
    background-color: rgb(78 178 101);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 40px;
    height: 40px;
    width: 300px;
    font-size: 20px;
    border-style: hidden;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
    cursor: pointer;
    transition-duration: 0.4s;
}

.button2SO:hover {
    background: white;
    color: rgb(78 178 101);
    border: 1px solid #eee;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/* MODAL 2 */
.modal-container2SO {
    position: fixed;
    transition: opacity 0.3s ease;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(78, 178, 101, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.modal-container2SO.show {
    opacity: 1;
    pointer-events: auto;
}

.modal2SO {
    background-color: white;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
}

.button3SO {
    background-color: rgb(78 178 101);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 40px;
    height: 40px;
    width: 300px;
    font-size: 20px;
    border-style: hidden;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
    cursor: pointer;
    transition-duration: 0.4s;
}

.button3SO:hover {
    background: white;
    color: rgb(78 178 101);
    border: 1px solid #eee;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/* MODAL 3 */
.modal-container3SO {
    position: fixed;
    transition: opacity 0.3s ease;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(78, 178, 101, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.modal-container3SO.show {
    opacity: 1;
    pointer-events: auto;
}

.modal3SO {
    background-color: white;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
}

.button4SO {
    background-color: rgb(78 178 101);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 40px;
    height: 40px;
    width: 300px;
    font-size: 20px;
    border-style: hidden;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
    cursor: pointer;
    transition-duration: 0.4s;
}

.button4SO:hover {
    background: white;
    color: rgb(78 178 101);
    border: 1px solid #eee;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/* MODAL 4 */
.modal-container4SO {
    position: fixed;
    transition: opacity 0.3s ease;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(78, 178, 101, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.modal-container4SO.show {
    opacity: 1;
    pointer-events: auto;
}

.modal4SO {
    background-color: white;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
}

.button5SO {
    background-color: rgb(78 178 101);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 40px;
    height: 40px;
    width: 300px;
    font-size: 20px;
    border-style: hidden;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
    cursor: pointer;
    transition-duration: 0.4s;
}

.button5SO:hover {
    background: white;
    color: rgb(78 178 101);
    border: 1px solid #eee;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/* MODAL 5 */
.modal-container5SO {
    position: fixed;
    top: 0;
    transition: opacity 0.3s ease;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(78, 178, 101, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.modal-container5SO.show {
    opacity: 1;
    pointer-events: auto;
}

.modal5SO {
    background-color: white;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
}

.button6SO {
    background-color: rgb(78 178 101);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 40px;
    height: 40px;
    width: 300px;
    font-size: 20px;
    border-style: hidden;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
    cursor: pointer;
    transition-duration: 0.4s;
}

.button6SO:hover {
    background: white;
    color: rgb(78 178 101);
    border: 1px solid #eee;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/* MODAL 6 */
.modal-container6SO {
    position: fixed;
    transition: opacity 0.3s ease;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(78, 178, 101, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.modal-container6SO.show {
    opacity: 1;
    pointer-events: auto;
}

.modal6SO {
    background-color: white;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
}

.button7SO {
    background-color: rgb(78 178 101);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 40px;
    height: 40px;
    width: 300px;
    font-size: 20px;
    border-style: hidden;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
    cursor: pointer;
    transition-duration: 0.4s;
}

.button7SO:hover {
    background: white;
    color: rgb(78 178 101);
    border: 1px solid #eee;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/* MODAL 7 */
.modal-container7SO {
    position: fixed;
    transition: opacity 0.3s ease;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(78, 178, 101, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.modal-container7SO.show {
    opacity: 1;
    pointer-events: auto;
}

.modal7SO {
    background-color: white;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
}

.button8SO {
    background-color: rgb(78 178 101);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 40px;
    height: 40px;
    width: 300px;
    font-size: 20px;
    border-style: hidden;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
    cursor: pointer;
    transition-duration: 0.4s;
}

.button8SO:hover {
    background: white;
    color: rgb(78 178 101);
    border: 1px solid #eee;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/* MODAL 8 */
.modal-container8SO {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transition: opacity 0.3s ease;
    width: 100vw;
    background-color: rgba(78, 178, 101, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.modal-container8SO.show {
    opacity: 1;
    pointer-events: auto;
}

.modal8SO {
    background-color: white;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
}

.button9SO {
    background-color: rgb(78 178 101);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 40px;
    height: 40px;
    width: 300px;
    font-size: 20px;
    border-style: hidden;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
    cursor: pointer;
    transition-duration: 0.4s;
}

.button9SO:hover {
    background: white;
    color: rgb(78 178 101);
    border: 1px solid #eee;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/*FIM TELA SIMULADOR*/



















/*TELA SOBRENÓS*/
/*Header Sobre Nós*/
.headerSN {
    width: 100%;
    height: 85px;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
}

.headerSN .container {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

/*Fim Header Sobre Nós*/
/*Scrool-Bar Sobre Nós*/
.corpoSN {
    transition: background-color .8s;
}

.corpoSN:hover {
    background-color: #4eb265;
}

.corpoSN::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.corpoSN::-webkit-scrollbar-track {
    display: none;
}

.corpoSN::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: inherit;
}

.corpoSN::-webkit-scrollbar-thumb:hover {
    background-color: #4eb265;
}

/*Fim Scrool-Bar Sobre Nós*/
.banner1SN {
    background-image: url("https://i.imgur.com/mXpmDdC.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 90vh;
}

.banner1SN p {
    color: white;
    font-size: 30px;
}

.banner2SN {
    display: flex;
    flex-direction: row;
    background-color: #e7e7e7;
}

.card1SN {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 8%;
    margin-top: 5%;
}

.texto1SN {
    color: rgb(78 178 101);
    font-size: 40px;
}

.texto1SN span {
    font-size: 30px;

}

.p1SN {
    font-size: 25px;
}

.card2SN {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-top: 3%;
    margin-left: 2%;
}

.card2SN img {
    width: 90%;
    height: 100%;
}

.banner3SN {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #e7e7e7;
}

.card3SN {
    margin-left: 8%;
    margin-top: 5%;
    margin-right: 5%;
}

.cerSN {
    font-size: 40px;
}

.p2SN {
    font-size: 30px;
}

.banner4SN {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #e7e7e7;
    position: relative;
    flex-direction: row;
    height: 691px;
    padding: 0 0 750px;
}


.b1SN {
    width: 40%;
    padding: 0 0 30px 0;
    margin-left: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.texto2SN {
    margin-left: 10%;
    position: absolute;
    z-index: 1;
    width: 45%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 11%;
    margin-top: 100px;
}

.p3SN {
    font-size: 24px;
    padding: 0px 10px 0px 10px;
}

.imagemSN {
    width: 55%;
}

.bandeiraSN {
    position: absolute;
    z-index: 0;
    width: 700px;
    height: 500px;
    margin-left: 750px;
    margin-bottom: 200px;
}

.logosSN {
    margin-top: 550px;
    margin-left: 780px;
    position: absolute;
    z-index: 0;
}

.banner5SN .b2SN {
    margin-left: 700px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.texto3SN {
    margin-left: 400px;
    margin-top: 152px;
    position: absolute;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 11%;
}

.banner5SN {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 580px;
    background-color: #e7e7e7;
    position: relative;
}

.p4SN {
    font-size: 24px;
    padding: 0px 10px 0px 10px;
}

.seloSN {
    margin-top: 100px;
    margin-left: 1180px;
    position: absolute;
    height: 250px;
    width: 250px;
}

.placaSN {
    margin-top: 100px;
    margin-left: 80px;
    position: absolute;
    width: 600px;
}

/*FIM TELA SOBRENÓS*/




















/*TELA TELADEV*/
/*Header TelaDev*/
.corpoTD {
    transition: background-color .8s;
}

.corpoTD:hover {
    background-color: #4eb265;
}

.corpoTD::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.corpoTD::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: inherit;
}

.corpoTD::-webkit-scrollbar-thumb:hover {
    background-color: #4eb265;
}

/*Fim Header TelaDev*/
/*Scrool-Bar TelaDev*/
.headerTD {
    width: 100%;
    height: 85px;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
}

.headerTD .container {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

/*Fim Scrool-Bar TelaDev*/
.containerBTD {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1TD {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4EB265;
    border-radius: 40px;
    height: 500px;
    width: 500px;
}

.card1TD h3 {
    color: white;
    font-size: 30px;
    border-bottom: 3px solid white;
}

.card1TD input {
    color: white;
    width: 280px;
    padding: 12px 20px;
    background: transparent;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-top: 30px;
}

.card1TD button {
    background-color: rgb(255, 255, 255);
    color: #4eb265;
    border-radius: 40px;
    height: 40px;
    width: 280px;
    font-size: 20px;
    border-style: hidden;
    box-shadow: 0px 0px 0px rgb(189, 188, 188);
    cursor: pointer;
    margin-top: auto;
    transition: 0.5s;
}

.card1TD button:hover {
    background: #2d8a43;
    color: rgb(255, 255, 255);
    border: 0px solid #eee;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgb(9, 83, 16);
    transition-duration: 0.4s;
    transform: scale(1.1);
}

.inpTD::placeholder {
    text-align: center;
    color: white;
    font-size: 20px;
}

/*FIM TELA TELADEV*/



















/*TELA DE index*/
/*Header index*/
.headerTI {
    width: 100%;
    height: 85px;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
}

.headerTI .container {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

/*Fim Header index*/
/*Scrool-Bar index*/
.corpoTI {
    transition: 0.8s;
}

.corpoTI:hover {
    background-color: #4eb265;
}

.corpoTI::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.corpoTI::-webkit-scrollbar-track {
    display: none;
}

.corpoTI::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: inherit;
}

.corpoTI::-webkit-scrollbar-thumb:hover {
    background-color: #4eb265;
}

/*Fim Scrool-Bar index*/
.textoinicioTI {
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: 50px;
    line-break: auto;
    width: 70%;
    height: 80%;

}

.p1TI {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 65px;
    font-weight: bold;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textoinicio2TI {
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: 50px;
    line-break: auto;
    width: 100%;
    height: 80%;
    margin-right: 100px;
}

.p2TI {
    margin: auto;
    font-size: 25px;
    color: white;
    line-break: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.containerbrancoTI {
    margin: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.295);
    height: 320px;
    width: 80%;
    margin-top: 30px;
    justify-content: left;
    align-items: center;
    display: flex;
    margin-bottom: 30px;

}

.p3TI {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-left: 90px;
    float: left;
    font-weight: 900;

}

.p4TI {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 100;
    display: flex;
    margin: auto;
    padding-right: 150px;
}

.divimagemTI {
    display: flex;
    float: right;

}

.imagemTI {
    width: 300px
}

.imagem2TI {
    width: 1348.5px;
    height: 100%;
    margin: 0;

}

.bannerfimTI {
    position: relative;
    color: white;
    text-align: center;
    margin: 0;
    width: 400px;
    height: 960px;
}

.p5TI {
    position: absolute;
    top: 450px;
    left: 400px;
    font-size: 80px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p6TI {
    position: absolute;
    top: 650px;
    left: 300px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.p7TI {
    position: absolute;
    top: 650px;
    left: 800px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.p8TI {
    position: absolute;
    top: 650px;
    left: 1000px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.p9TI {
    position: absolute;
    top: 850px;
    left: 300px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.p10TI {
    position: absolute;
    top: 850px;
    left: 800px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.p11TI {
    position: absolute;
    top: 850px;
    left: 1000px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/*FIM TELA DE index*/



















/*TELA DE DASHBOARDSENSOR*/
/*Scrool-Bar DashboardSensor*/
.corpoDS {
    transition: background-color .8s;
}

.corpoDS:hover {
    background-color: #3b3bbb;
}

.corpoDS::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.corpoDS::-webkit-scrollbar-track {
    display: none;
}

.corpoDS::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: inherit;
}

.corpoDS::-webkit-scrollbar-thumb:hover {
    background-color: #3b3bbb;
}

/*Fim Scrool-Bar DashboardSensor*/
.container1DS {
    display: flex;
}

.metrica1DS {
    text-align: center;
    height: 130px;
    width: 130px;
    background-color: red;
}

.cardsHDS {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.cardsHDS .card2DS {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 20px 0 20px;
    background-color: white;
}

.cardsVDS {
    display: flex;
    height: 230px;
}

.cardsVDS .card3DS {
    color: white;
    padding: 5px 30px;
    justify-content: end;
    height: 100%;
    width: 620px;
    background-color: #3b3bbb;
}

.cardsVDS .card4DS {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 280px;
    height: 100%;
    background-color: #082949;
}

.metricasDS {
    height: 100%;
    width: 600px;
}

.blocosDS {
    display: flex;
    align-items: center;
    padding: 20px 20px;
}

.bloco1DS {
    border-left: 5px solid #082949;
    padding: 0 10px;
    font-size: 20px;
    text-align: start;
    margin-right: 40px;
}

.bloco1DS .med_hrDS {
    font-size: 60px;
}

.bloco2DS {
    padding: 0 10px;
    border-left: 5px solid #082949;
    font-size: 15px;
    text-align: start;
    margin-right: 40px;
}

.bloco2DS .med_hrDS {
    font-size: 40px;
}

.bloco3DS {
    padding: 0 10px;
    border-left: 5px solid #082949;
    font-size: 15px;
    text-align: start;

}

.bloco3DS .med_hrDS {
    font-size: 40px;
}

.img_sensorDS {
    margin: 0;
    height: 70px;
    width: 80px;
}

.uls2DS {
    font-size: 20px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    color: white;
}

.uls2DS .totalDS {
    font-size: 25px;
    margin-top: 5px;
    list-style: none;
    margin-bottom: 5px;
}

.uls2DS .qtdDS {
    font-size: 25px;
    margin-top: 5px;
    text-align: end;
    list-style: none;
    margin-bottom: 5px;
}

.card4DS h2 {
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
}

.uls3DS {
    font-size: 20px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    color: white;
}

.uls3DS .liDS {
    font-size: 17px;
    margin-top: 5px;
    list-style: none;
}

.uls3DS .li2DS {
    font-size: 17px;
    margin-top: 5px;
    text-align: end;
    list-style: none;
}

.funcionandoDS {
    height: 20px;
    width: 20px;
}

.manutençaoDS {
    height: 20px;
    width: 20px;
}

.indisponivelDS {
    height: 20px;
    width: 20px;
}

.linhaDS {
    margin-right: 10px;
    border-left: 5px solid #082949;
    height: 100%;
    width: 50%;
    margin-left: 10px;
    margin-bottom: 5px;
}

.linha2DS {
    margin-left: 10px;
    height: 100%;
    width: 50%;
    margin-bottom: 5px;
}

.nomeDS {
    position: absolute;
    width: 400px;
    margin-left: 100px;
}

.DTDS {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    color: white;
    height: 50px;
    width: 150px;
    background-color: #082949;
    margin-top: 10px;
    margin-left: 685px;
}

.container2DS {
    background-color: white;
    height: 70px;
}

.DTDS P {
    margin-left: 14px;
}

.tituloLDS {
    padding: 5px 30px;
    color: white;
}

.div6DS {
    background-color: #3684c4;
    display: flex;
    flex-direction: column;
}

.card5DS {
    display: flex;
    background-color: #3684c4;
}

.metricasDS {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.bc1DS {
    margin-left: 70px;
}

.ba1DS {
    margin-left: 70px;
}

.biDS {
    margin-left: 70px;
}

.bolaRedDS {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.bolaAmaDS {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 226, 41);
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.bolaVerDS {
    width: 100px;
    height: 100px;
    background-color: rgb(78 178 101);
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.modal-containerDS {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(78, 178, 101, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

.modalDS {
    background-color: white;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
}

.button1DS {
    background-color: rgb(78 178 101);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 40px;
    height: 40px;
    width: 300px;
    font-size: 20px;
    border-style: hidden;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
    cursor: pointer;
    transition-duration: 0.4s;
}

.button1DS:hover {
    background: white;
    color: rgb(78 178 101);
    border: 1px solid #eee;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
}
/*FIM TELA DE DASHBOARDSENSOR*/